<div class="main">

  <div class="toolbar">
    <mat-toolbar>
      <h3>PPL - Solver</h3>
    </mat-toolbar>
  </div>

  <div class="example-container">

    <div class="hold-inputs">
      <label for="var">Número de variáveis</label>
      <input type="number" #varia value="" min="0" id="var" (change)="setVar(varia.value)">
    </div>


    <h4>Coeficientes da função objetivo</h4>
    <div class="coefs">
      <div class="hold-coef">
        <input type="number" *ngFor="let item of [].constructor(vari); let i = index" class="with-space"
          [id]="'fo-'+ i">
      </div>
    </div>

    <div class="hold-inputs">
      <label for="var">Número de restrições</label>
      <input type="number" #resti value="" min='0' id="rest" (change)="setRest(resti.value)">
    </div>

    <h4>Coeficientes das restrições</h4>
    <div class="coefs">
      <div class="hold-coef" *ngFor="let item of [].constructor(rest); let i = index">
        <div class="hold-coef" *ngFor="let item of [].constructor(vari); let j = index">
          <input type="number" [id]="'rest-'+i+'-'+j">

        </div>
        <span>
          <= </span>
            <input *ngIf="vari > 0" type="number" [id]="'result-'+i">
      </div>
    </div>

    <div class="hold-button">
      <button (click)="solve()">RESOLVER</button>
    </div>

  </div>

  <div class="solution-table" *ngIf="solved">
    <h1>Tabela de solução</h1>
    <table border="2" class="res-table">
      <tr *ngFor="let item of [].constructor(rest+2); let i = index">
        <td *ngFor="let item of [].constructor(vari+rest+2); let j = index">
          {{table[i][j]}}
        </td>
      </tr>
    </table>
  </div>

  <div class="solution-table" *ngIf="solved">
    <h1>Valores ótimos</h1>
    <h2>
      {{table[1][0]}} = {{table[1][table[1].length - 1]}}
    </h2>
  </div>

  <div class="solution-table" *ngIf="solved">
    <div *ngFor="let item of table[0].slice(1, vari+1)">
      <div *ngIf="map.includes(item)">
        <h2>
          {{item}} = {{ table[map.indexOf(item)][table[map.indexOf(item)].length - 1] }}
        </h2>
      </div>
    </div>
  </div>

  <div class="solution-table" *ngIf="solved">
    <div *ngFor="let item of table[0].slice(1, vari+1)">
      <div *ngIf="!map.includes(item)">
        <h2>
          {{item}} = 0
        </h2>
      </div>
    </div>
  </div>

  <div class="solution-table" *ngIf="solved">
    <h1>Preço sombra</h1>
    <table border="1" class="dual-table">
      <tr>
        <td *ngFor="let item of table[0].slice(vari+1, (vari + rest + 1))">{{item}}</td>
      </tr>
      <tr>
        <td *ngFor="let res of table[1].slice(vari+1, (vari + rest + 1))">{{res}}</td>
      </tr>
    </table>
  </div>

  



  <div class="example-container" *ngIf="solved">
    
    <label for="var">Deltas	&#916;</label>
    <div class="coefs">
      <div class="hold-coef">
        <input type="number" *ngFor="let item of [].constructor(rest); let i = index" class="with-space"
          [id]="'d-'+ i">
      </div>
    </div>

    
    <div class="solution-table" *ngIf="solved">
      <div *ngIf="solved">
        <h1 style="color: #14FF37" *ngIf="!error && foundDelta">Viável</h1>
        <h1 style="color: red" *ngIf="error && foundDelta">Não viável</h1>
      </div>
    </div>
  

    <div class="hold-button">
      <button (click)="new()">NOVO LUCRO</button>
    </div>

    <div class="hold-button">
      <h1>{{newRevenue}}</h1>
    </div>
  </div>


</div>